.button {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
    -webkit-transition-property: color;
    transition-property: color;
    padding-top: 20px;
    padding-left:25px;
  }
  
  .button:focus,
  .button:hover {
    color: #fff;
  }
  
  .button:focus:after,
  .button:hover:after {
    width: 100%;
    left: 9%;
  }
  
  .button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
    -webkit-transition-property: width, left;
    transition-property: width, left;
  }
  
  
  .container {
    display: flex;
    justify-content: space-between;
  }
  
  .middleButtons {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .icon{
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  
  .loginbtn {
    display: inline-block;
    padding: 0.5rem 1.8rem;
    font-size: 18px;
    font-weight: 700;
    color: white;
    border: 2px solid ;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
    margin-right: 25px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  
   }
   
   .loginbtn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(24, 59, 111);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
   }
   
   .loginbtn:hover::before {
    transform: translateX(0);
   }
   