.button {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
          transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-property: color;
  transition-property: color;
  padding-top: 20px;
}

.button:focus,
.button:hover {
  color: #fff;
}

.button:focus:after,
.button:hover:after {
  width: 100%;
  left: 0%;
}

.button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
          transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-property: width, left;
  transition-property: width, left;
}

.Stack {
  display: flex;
  justify-content: center;
}

.loginbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-family: inherit;
  font-weight: 800;
  width: 8em;
  position: relative;
  height: 2.5em;
  border: 3px ridge #FFFFFF;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  
}

.loginbutton::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #000000;
  transition: 0.5s;
  transform-origin: center;
}

.loginbutton::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #000000;
  transition: 0.5s;
}

.loginbutton:hover::before, .loginbutton:hover::after {
  transform: scale(0)
}

.loginbutton:hover {
  box-shadow: inset 0px 0px 25px #FFFFFF;
}